
.idea/deployment.xml
.idea/dictionaries/uplink.xml
.idea/FinalProject3.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
GoogleNews-vectors-negative300.bin
stanford-corenlp-full-2018-02-27/build.xml
stanford-corenlp-full-2018-02-27/CoreNLP-to-HTML.xsl
stanford-corenlp-full-2018-02-27/corenlp.sh
stanford-corenlp-full-2018-02-27/input.txt
stanford-corenlp-full-2018-02-27/LIBRARY-LICENSES
stanford-corenlp-full-2018-02-27/LICENSE.txt
stanford-corenlp-full-2018-02-27/Makefile
stanford-corenlp-full-2018-02-27/patterns/example.properties
stanford-corenlp-full-2018-02-27/patterns/goldnames.txt
stanford-corenlp-full-2018-02-27/patterns/goldplaces.txt
stanford-corenlp-full-2018-02-27/patterns/names.txt
stanford-corenlp-full-2018-02-27/patterns/otherpeople.txt
stanford-corenlp-full-2018-02-27/patterns/places.txt
stanford-corenlp-full-2018-02-27/patterns/presidents.txt
stanford-corenlp-full-2018-02-27/patterns/stopwords.txt
stanford-corenlp-full-2018-02-27/pom.xml
stanford-corenlp-full-2018-02-27/README.txt
stanford-corenlp-full-2018-02-27/RESOURCE-LICENSES
stanford-corenlp-full-2018-02-27/SemgrexDemo.java
stanford-corenlp-full-2018-02-27/ShiftReduceDemo.java
stanford-corenlp-full-2018-02-27/stanford-corenlp-3.9.1-models.jar
stanford-corenlp-full-2018-02-27/StanfordCoreNlpDemo.java
stanford-corenlp-full-2018-02-27/sutime/british.sutime.txt
stanford-corenlp-full-2018-02-27/sutime/defs.sutime.txt
stanford-corenlp-full-2018-02-27/sutime/english.holidays.sutime.txt
stanford-corenlp-full-2018-02-27/sutime/english.sutime.txt
stanford-corenlp-full-2018-02-27/sutime/spanish.sutime.txt
stanford-corenlp-full-2018-02-27/tokensregex/color.input.txt
stanford-corenlp-full-2018-02-27/tokensregex/color.properties
stanford-corenlp-full-2018-02-27/tokensregex/color.rules.txt
stanford-corenlp-full-2018-02-27/tokensregex/retokenize.txt
wiki.en.vec
stanford-corenlp-full-2018-02-27.zip
GoogleNews-vectors-negative300.zip.tmp
GoogleNews-vectors-negative300.zip
